body{
    font-family: 'Raleway', sans-serif;
    font-style:normal;
    margin-top:25px;
}
.main {
    max-width: 1440px;
    margin: auto;
    padding: 0 2rem;
    box-sizing: border-box;
  }

/*header and nav*/

.logoreservia{
    width: 110px; 
    padding: 0 2rem;
    padding-left: 15px;
    
}

.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.headernav{
     display:flex;

}

.signup{

    font-weight:bold;
    color:#0065FC;
    text-decoration: none;
    margin-right:30px;
    
}

.signup:hover{
    transform: scale(1.09);
}

.headertitle{
    margin-bottom:0.5rem;
}

.hosting{
    margin-right: 70px;
    text-decoration:none;
}


.activity{
    margin-right: 70px;
    text-decoration: none;
}

.pheader{
    font-size:15px;
}

.form{
    display:flex;
    height: 43px;
    

}

.iconposition{
  background-color: #F2F2F2;
  border-radius: 1rem 0 0 1rem;
  text-align:center;
  padding: 0.75rem 1rem;

}

.searchinput{
  
  font-weight:bold;
  width:200px;
  border-right:none;
  border-left: none;
  border-top: #F2F2F2 1px solid;
  border-bottom: #F2F2F2 1px solid;
  font-family:"raleway",sans-serif;
  
  
}
.buttonsearch{
  background-color:#0065FC;
  color:white;
  border-left:solid 1px;
  border-radius: 0rem 1rem 1rem 0rem;
  width:138px;
  border:transparent;
  font-weight: 600;
  font-size: 15px;
  font-family:"raleway", sans-serif;
  cursor:pointer;
}

.filter{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1.5rem;

}

.economic{
    display:flex;
    border: 2px solid #d9d9d9;
    border-radius:2rem;
    cursor: pointer;
    border-left:none;
    margin-right: 2rem;
    margin-left:3rem;

}

.iconmoney{
    background-color:#DEEBFF;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#0065FC;
    min-height: 3.5rem;
    min-width: 3.5rem;
}

.economictext{
    display:flex;
    align-items: center;
    font-weight: bolder;
    padding-left: 13px;
    padding-right:15px;

}

.family{
    display:flex;
    align-items: center;
    border-radius: 2rem;
    border: 2px solid #d9d9d9;
    border-left:none;
    cursor: pointer;
    padding-right: 15px;
}

.iconfamily{
    border-radius:100%;
    background-color:#DEEBFF;
    width: 3rem;
    height: 3rem;
    color:#0065FC;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.families{
    font-weight: bold;
    padding-left: 13px;
}

.romantic{
    display:flex;
    border-radius: 2rem;
    border: 2px solid #d9d9d9;
    border-left:none;
    cursor:pointer;
    margin-right:2rem;
    margin-left:2rem;

    
}
.iconromantic{
    border-radius:100%;
    background-color:#DEEBFF;
    color:#0065FC;
    width: 3rem;
    height: 3rem;
    display:flex;
    align-items: center;
    justify-content: center;
}

.romantictext{
    display:flex;
    align-items: center;
    font-weight: bold;
    padding-left: 13px;
    padding-right:15px;
}

.animal{
    display:flex;
    border: 2px solid #d9d9d9;;
    border-radius:2rem;
    border-left:none;
    cursor:pointer;
}
.iconanimal{
    border-radius:100%;
    background-color:#DEEBFF;
    color:#0065FC;
    width: 3rem;
    height: 3rem;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}

.animaltext{
    display:flex;
    align-items: center;
    font-weight: bold;
    font-size:17px;
    padding-left: 13px;
    padding-right:15px;
}
.info{
    display:flex;
    align-items: center;
    margin: 1rem 0 2rem 0;
}
.infoicon{
  height: 2rem;
  width: 2rem;
  min-height: 2rem;
  min-width: 2rem;
  border: solid 1px #d9d9d9;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color:blue;
}
.infotext{
    padding-left:1rem;
}

a:link{
    text-decoration: none;
}

/* hosting*/

/*firstarticlehosting*/

.hostingsection{
    background-color:#F2F2F2;
    padding-right:9px;
    border-radius: 1rem 1rem 1rem 1rem;
    width:709px;
    border:1px solid transparent;
    height:590px;
    padding-left:2rem;
    padding-top:8px;

    
    
    
    
}   
.mainhosting{
    display:flex;
    flex-wrap: wrap;
}

.firstarticle{
    width:15vw;
    height:200px;
    border-radius: 1rem 1rem 1rem 1rem;
    border:1px solid transparent;
    background-color: white;
    object-fit: contain;
    padding:1%;
    margin-right:30px;
    margin-bottom:30px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}
    
.firstarticleimg{
    width:15vw;
    height:100px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
.textfirst{
    font-size:13px;
}
.articletwo{
    width:15vw;
    height:200px;
    border-radius: 1rem 1rem 1rem 1rem;
    border:1px solid transparent;
    background-color: white;
    object-fit: contain;
    padding:1%;
    margin-right:30px;
    margin-bottom:30px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}
.secondarticleimg{
    width:15vw;
    height:100px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
.texttwo{
    font-size:13px;
}
.articlethree{
    width:15vw;
    height:200px;
    border-radius: 1rem 1rem 1rem 1rem;
    border:1px solid transparent;
    background-color: white;
    object-fit: contain;
    padding:1%;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}   
.thirdarticleimg{
    width:15vw;
    height:100px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
.textthree{
    font-size:13px;
}
.articlefour{
    width:15vw;
    height:200px;
    border-radius: 1rem 1rem 1rem 1rem;
    border:1px solid transparent;
    background-color: white;
    object-fit: contain;
    padding:1%; 
    margin-right:30px;
    margin-bottom:30px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}
.fourtharticleimg{
    width:15vw;
    height:100px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
.textfour{
    font-size:13px;
}
.articlefive{
    width:15vw;
    height:200px;
    border-radius: 1rem 1rem 1rem 1rem;
    border:1px solid transparent;
    background-color: white;
    object-fit: contain;
    padding:1%;
    margin-right:30px;
    margin-bottom:30px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}
.fivearticleimg{
    width:15vw;
    height:100px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
.textfive,.textsix{
    font-size:13px;
}
.articlesix{
    width:15vw;
    height:200px;
    border-radius: 1rem 1rem 1rem 1rem;
    border:1px solid transparent;
    background-color: white;
    object-fit: contain;
    padding:1%;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}
.sixarticleimg{
    width:15vw;
    height:100px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
article:hover{
    transform: scale(1.09);
}

.textfirst,.texttwo,.textthree,.textfour,.textfive,.textsix{
    color:black;
}
.showmore{
    color:black;
    font-weight:bold;
}
/*le aside de herbergement*/

.mainsection{
    display:flex;
    justify-content:space-between;
}
.mostpopulare{
   border: #F2F2F2 solid 1px;
   background-color: #F2F2F2;
   height:590px;
   width:395px;
   border-radius:1rem;
   padding-top:5px;
   padding-left:2rem;
   padding-right:1.5rem;
   display:flex;
   flex-wrap: wrap;
}

.greenroom{
  border: 1px solid transparent;
  background-color:white;
  height:140px;
  width:379px;
  border-radius:1rem;
  object-fit: contain;
  padding:1%;
  display:flex;
  font-size:10px;
  flex-direction:row;
}
.greenroomimg{
    height:139.5px;
    width:8.5vw;
    border-radius:1rem 0rem 0rem 1rem;
    border-right:solid transparent;
    object-fit: cover;
}
.textgreenroom{
    font-size:13px;
    line-height:19px;
}
.waterroom{
  border: 1px solid transparent;
  background-color:white;
  height:140px;
  width:390px;
  border-radius:1rem;
  object-fit: contain;
  padding:1%;
  display:flex;
  font-size:10px;
  box-sizing: border-box;
}
.waterroomimg{
    height:132px;
    width:8.5vw;
    border-radius:1rem 0rem 0rem 1rem;
    border-right:solid transparent;
    object-fit: cover;
    text-align: left;
}
.textwaterroom{
    color:black;
    display:block;
    font-size:13px;
    line-height:19px;
    
}
.roomblueandwhite{
    border: 1px solid transparent;
    background-color:white;
    height:140px;
    width:379px;
    border-radius:1rem;
    object-fit: contain;
    padding:1%;
    display:flex;
    font-size:10px;
    flex-direction: row;
}
.roomblueandwhiteimg{
    height:139.5px;
    width:8.5vw;
    border-radius:1rem 0rem 0rem 1rem;
    border-right:solid transparent;
    object-fit: cover;
}
.textroomblueandwhite{
    font-size:13px;
    line-height:19px;
    color:black;
}

.bou{
  display:flex;
  justify-content: space-evenly;
}
/*activités à Marseille*/

.calanques{
    height:520px;
    width:252px;
    border-radius:1rem;
    border:1px solid transparent;
    object-fit: contain;
    background-color: white;
    margin-left:auto;
    margin-top:4px;
    margin-right: auto;
    box-shadow:0 0 10px rgb(0,0,0,0.5);
    cursor: pointer;
}
.calanquesimg{
    width:252px;
    height:462px;
    border-radius: 1rem 1rem 0rem 0rem;
    box-shadow:0 0 10px rgb(0,0,0,0.5);
    object-fit: cover;
}
.fortpomegues,.iledufrioul,.notredame,.parclongchamp{
    height:240px;
    width:260px;
    border-radius:1rem;
    border:1px solid transparent;
    object-fit: contain;
    background-color: white;
    box-shadow:0 0 10px rgb(0,0,0,0.5);
    cursor: pointer;
    
}
.fortpomeguesimg,.iledufrioulimg,.notredameimg,.parclongchampimg{
    height:180px;
    width:260px;
    border-radius: 1rem 1rem 0rem 0rem;
    object-fit: cover;
}
/*utilisation de flexbox pour organiser les photos dans la section*/

.activity{
    display:flex;
    flex-wrap: wrap;
    align-content: space-between;
    box-sizing: border-box;
  }
  /*pour séparer la partie hebergement et activités à Marseille*/

  .sectionactivity{
      margin-top: 4rem;

  }
  /* mise en place des deux blocs contenant chacune deux petites photos par rapports aux grandes photos*/

  .blocnotredameandlongchamp{
      margin-left:1rem;
      margin-right:auto;
      margin-top:8px;
    
  }
  .blocfrioulandfort{
    margin-right:1rem;
    margin-top:8px;
  }

  .vieuxport{
    height:513px;
    width:252px;
    border-radius:1rem;
    border:1px solid transparent;
    object-fit: contain;
    background-color: white;
    margin:2rem;
    margin-top:8px;
    box-shadow:0 0 10px rgb(0,0,0,0.5);
    cursor: pointer;
  }
  .vieuxportimg{
    width:252px;
    height:454px;
    border-radius: 1rem 1rem 0rem 0rem;
    box-shadow:0 0 10px rgb(0,0,0,0.5);
    object-fit: cover;
  }
/*pour decoller les photos entre elles*/
  
.fortpomegues,.notredame{
 margin-bottom:2rem;

  }

  /*footer*/
  
.footer{
    border:1px solid transparent;
    background-color: #F2F2F2;
    box-sizing: border-box;
    width:1440px;
    height:auto;
    max-width:100%;
    display:flex;
    justify-content: space-around;    
    margin-top:2rem;
}

.aboutfooter{
  display: flex;
  align-items:flex-start;
  flex-direction:column;
  line-height:35px;


}
.ourhosting{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    line-height:35px;
}
.help{
    display:flex;
    flex-direction: column;
    line-height:35px;
    align-items:flex-start;
}
.colorfooter{
    color:black;
}




