/*Partie tablette*/

@media (min-width:768px) and (max-width:1024px){ 

    .headernav{
        position: relative;
    }
    
    .activity,.hosting{
        margin-top:5rem;
        display:flex;
        justify-content: space-evenly;
        box-sizing: border-box;
        border-top:none;
        font-size:20px;
    }
    .activity{
        position: absolute;
        right:10vw;
    }
    .hosting{
        position: absolute;
        right:60vw;
    }
    .hosting,.activity:hover{
            border-bottom:3px #0065FC solid;
            padding-bottom:25px;
            color:#0065FC;
            border-top:none;
    }
    .mainsection{
        display:flex;
        flex-direction: column-reverse;
     }
     
    article:hover{
        transform: scale(0);
    }
     
     /*Partie les plus populaires*/
    
     .mostpopulare{
         width:100%;
         display: flex;
         flex-direction: column;
         height: 945px;
         padding-left: 1rem;
         margin:0px;
         justify-content: center;
         box-sizing: border-box;
     }
     .titlepopulare {
        margin: 3% 0%;
        height: 5%;
     }
     .colorromm {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
         width: 95%;
         height: 86%;
         align-self: center;
         margin: 0% 0% 1% 0%;
     }
     
    .greenroomimg{
        height:199px;
        width:35vw;
    }
    .textgreenroom{
        font-size:21px;
        line-height: normal;
        margin-left:1rem;
    }
    
    .roomblueandwhiteimg{
        height:197px;
        width:35.7vw;   
    }
    .textroomblueandwhite{
        font-size:24px;
        margin-left:1rem;
        line-height: normal;
    }
    
    
    .waterroomimg{
        height:200px;
        width:35.4vw;
    }
    .textwaterroom{
        line-height:normal;
        font-size: 21px;
        margin-left:1rem;
    }

    .mostpopulare article {
        width: 100%;
        height: 30%;
    }

    .mostpopulare article>div {
        height: 100%;
        width: 100%;
        margin: 0px;
    }
    .mostpopulare>.colorromm>article>div{
        border: 1px solid transparent;
        background-color:white;
        height:200px;
        width:100%;
        border-radius:1rem;
        object-fit: contain;
        padding:0.3%;
        display:flex;
        font-size:10px;
        flex-direction:row;
        box-shadow:0 0 10px rgba(0,0,0,0.2);
    }
    
    .hostingsection{
        width:100%;
        border: none;
        background: none;
        justify-content:flex-start;
     }
    
    .firstarticle,.articletwo,.articlefour{
        width:90%;
        height:380px;
        margin-top:20px;
    }
    .articlefive{
       height:370px;
       width:89%;
       margin-left:0px;
       margin-top: 20px;
    }
    .articlethree{
        margin-left: 0px;
        height:380px;
        margin-top:20px;
        width:90%
    }
    .articlesix{
        margin-top:40px;
        width:90%;
        height:380px;
    }
    
    .firstarticleimg,.secondarticleimg{
        height:65%;
    
    }
    .thirdarticleimg{
        height:65%;
    }
    
    .fourtharticleimg,.sixarticleimg{
        width:100%;
        height: 65%;
    }
    .fivearticleimg{
        width:100%;
        height:65%;
    }
    .textfirst,.texttwo,.textthree,.textfour,.textsix,.textfive{
        margin-top:1rem;
        font-size:20px;
        line-height:13px;
        margin-left:11px;
    }
    
    .article-line {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 1000px;
        margin: 2% 0%;
        width: 50%;
    }

    .article-line>article {
        width: 90%;
        height: 31%;

    }
    .article-line>article>div {
        width: 100%;
        height: 100%;
        padding: 0% 0% 4% 0%;
    }


    .sectionactivity{
        display:block;
        margin-top:1rem;
        margin-bottom:2rem; /*pour creer un espace avec le footer*/
    }
    
    .activities{
       display: flex;
       flex-direction: column;
    }
    
    .vieuxport,.calanques{
       height:370px;
       padding: 0px;
       margin-bottom:20px;
    }
    .vieuxportimg,.calanquesimg{
       width:100%;
       height: 280px;
    }
    .fortpomegues,.iledufrioul{
      height:370px;
      padding: 0px;
      margin-bottom:20px;
    }
    .blocfrioulandfort,.blocnotredameandlongchamp{
       width:99.5%;
    }
    
    .fortpomeguesimg,.iledufrioulimg,.notredameimg,.parclongchampimg{
      width:100%;
      height: 280px;
      padding:0px;
    }  
    .notredame,.parclongchamp{
       margin-bottom:25px;
       height:370px;
    }
    .vieuxporttxt,.frioultext,.forttext,.calanquestext,.notredametext,.parctext{
        font-size:30px;
    }
    .sectionactivity>.activities{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right:9px;
        align-items: center;
        margin-left: 19px;
        box-sizing: border-box;
     }
     .sectionactivity>.activities>div{
         width:95%;
         
     }
    
    /*Partie header*/
    .signup{
        margin-right:17px;
        font-size:22px;
    }
    
    .sectionsearchtitle{
        font-size:29px;
        margin-top:4rem;
    }
    .sectionsearchparagraph{
        font-size:24px;
    }
    .searchinput{
        width:40vw;
        font-size:18px;
    }
    .form{
        height:60px;
    }
    .iconposition{
       font-size:24px; 
       width:2rem;
    }
    .buttonsearch{
        display:none;
    }
    .secondbuttonsearch{
        display:block;
        background:#0065FC;
        border-radius:1rem;
        width:4rem;
        border:transparent;
    }
    
    .iconsearch{
        color:white;
        width:2rem;
        font-size:20px;
    }
    
    filter{
        display:flex;    
    }
    .secondtextfilter{
        margin-top:2rem;
        display: block;
        font-size:28px;
    }
    .textfilter{
        display: none;
    }
    .economic,.romantic{
        height:5rem;
        width:15rem;
        border-radius:4rem;
        margin-left:0px;
    }
    .romantic{
        margin-top:13px;
    }
    .animal{
        height:5rem;
        width:19rem;
        border-radius:4rem;
        margin-top: 15px;
    }
    .animaltext{
        font-size:22px;
    }
    .iconmoney,.iconromantic,.iconanimal{
        height:5rem;
        width:5rem;
        font-size:19px;
    }
    .romantictext,.economictext,.families{
        font-size:22px;
    }
    
    .family{
        height:5rem;
        width:12rem;
        border-radius:4rem;
        margin-right:30px;
    }
    .iconfamily{
        height:5rem;
        width:5rem;
    }
    /*Footer*/
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size:25px;
        padding-bottom:1.5rem;
    }
    
    .help,.ourhosting,.aboutfooter{
       align-items: center;
    }
    
}

   